<div [formGroup]="invForm" class="inventory-form" fxLayout="column" fxLayoutGap="10px">
  <!-- inventory name -->
  <clr-input-container fxLayout="row" fxLayoutGap="20px">
    <label>Name</label>
    <input clrInput placeholder="Enter inventory name" name="name" formControlName="name"/>
  </clr-input-container>

  <!-- inventory weight -->
  <clr-input-container fxLayout="row" fxLayoutGap="20px">
    <label>Weight</label>
    <input clrInput placeholder="Enter inventory weight" name="weight" formControlName="weight"/>
  </clr-input-container>
  <!-- inventory price -->
  <clr-input-container fxLayout="row" fxLayoutGap="20px">
    <label>Price</label>
    <input type="number" clrInput placeholder="Enter inventory price" name="price" formControlName="price"/>
  </clr-input-container>
  <!-- inventory users -->
  <div class="users clr-form-control" fxLayout="row" fxLayoutGap="20px">
    <label class="clr-control-label">Users</label>
    <tag-input placeholder="Add More Users" secondaryPlaceholder="Add Users" formControlName="users" [identifyBy]="'id'"
               [displayBy]="'fname'"
               [onlyFromAutocomplete]="true">
      <tag-input-dropdown [identifyBy]="'id'" [displayBy]="'fname'" [autocompleteObservable]="searchUsers$">
      </tag-input-dropdown>
    </tag-input>
    <!-- <input clrDatalistInput formControlName="users" name="Users"/>
     <datalist>
       <option *ngFor="let user of searchedUsers$|async" [value]="user.fname"></option>
     </datalist>-->
  </div>
  <button type="button" [disabled]="invForm.invalid" (click)="doSubmit()" class="btn-inv-action btn btn-primary">
    Submit
  </button>
</div>
