<header class="header-1">
  <!--  branding -->
  <div class="branding">
    <a routerLink="">
      <img class="logo" src="assets/img/app_logo.svg" alt="inVentory Logo">
      <span class="title">inVentory</span>
    </a>
  </div>
</header>
<div class="content" fxLayout="column" fxLayoutAlign="top center">
  <div class="card card-main">
    <div class="card-header">Card Header</div>
    <div class="card-block">
      <div class="card-text">My Card</div>
    </div>
  </div>
  <div class="footer-text">
    <span>All Rights Reserved. inVentory {{currentYear}}</span>
  </div>
</div>
