<header class="header-1">
  <!--  branding -->
  <div class="branding" fxFlex="30">
    <a routerLink="">
      <img class="logo" src="assets/img/app_logo.svg" alt="inVentory Logo">
      <span class="title">inVentory</span>
    </a>
  </div>
  <div class="header-nav" fxFlex="60" fxLayoutAlign="end">
    <a [routerLink]="['/inventory']" routerLinkActive="active" class="nav-link nav-text">Inventories</a>
    <a [routerLink]="['/users']" routerLinkActive="active" class="nav-link nav-text">Users</a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button clrDropdownTrigger class="nav-text dropdown-toggle" aria-label="open user profile">
        <cds-icon shape="user"></cds-icon>
        <span class="nav-text user-name-span">{{userDetails.fname|slice:0:1}}. {{userDetails.lname}}</span>
        <cds-icon shape="angle" direction="up"></cds-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right">
        <a role="button" (click)="shared.logout()" class="dropdown-item">Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
<div class="content" fxLayout="column" fxLayoutAlign="top center">
  <div class="card card-main">
    <div class="card-header">{{shared.curModule|titlecase}}</div>
    <div class="card-block">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer-text">
    <span>All Rights Reserved. inVentory {{currentYear}}</span>
  </div>
</div>
